*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*HEADER*/

header p{
    font-family: "Gruppo";
    font-weight: 1000;
}
#oktober{
    display: flex;
    justify-content: left;
    border-bottom:1px solid black;
    margin-bottom: 50px;
    border-top: 1px solid black;
}

#oktober p{
    top: 13px;
    position: relative;
    background-color: white;
    padding-right: 12px;
}

#logo{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    display: flex;
    justify-content: left;
    padding-bottom: 100px;
}

/*DROPDOWN MENU*/

header .list{
    font-family: "Gruppo";
    font-weight: 1000;
}

.dropdown{
    position: relative;
    display: inline-block;
    display: flex;
    margin-right: 100px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    top: 25px;
    z-index: 1;
    border: 1px black solid; 
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.list{
    display: flex;
    justify-content: space-around;
    line-height: 30px;
}

.list ul{
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
}

.list a{
    text-decoration: none;
    color: black;
}

.list a:hover{
    text-decoration: none;
    color: rgb(168, 124, 124);
}

/*MAIN*/
main{
    margin-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
}


/*REDIGERING AF SKRIFT OG OVERSKRIFTER*/
h2{
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 19pt;
    margin-bottom: 25px;
    margin-top: 25px;
    letter-spacing: 1px;
}

p{
    font-family: "Gruppo";
    font-size: 12pt;
    line-height: 30px;
    font-weight: 550;

}

h4{
    font-size: 15pt;
    font-family: "Bebas Neue";
    padding-top: 15px;
    letter-spacing: 1px;
}

.intro{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    margin-bottom: 50px;
}


/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px rgb(0, 0, 0) solid;
    background-color: white;
    width: 100%;
    margin-top: 60px;
}

footer p{
    font-family: "Gruppo";
    font-weight: 1000;
}

.hannahprofil{
    padding-left: 150px;
}

/*BILLEDER I ARTIKLER */
.billede img{
    margin-top: 50px;
    padding-left: 150px;
}