.intro{
    text-align: center;
}

.kasser{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    min-width: 900px;

    margin-bottom: 50px;
    align-items: center;

    width: 100%;
}

.kasser div{
    padding: 50px;
}

.kasserto{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    min-width: 900px;

    margin-bottom: 50px;
    align-items: center;
}

.kasserto div{
    padding: 50px;
}

h3{
    font-size: 15pt;
    font-family: "Bebas Neue";
    padding-top: 15px;
    letter-spacing: 1px;
}

.kasser{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    margin-bottom: 50px;
}